html, body {
  /* margin: 0;
  padding: 0;
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 248, 245, 1) 50%, rgba(255, 248, 245, 1) 100%); */
  /* ff3.6+ */
  /* background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 248, 245, 1)), color-stop(100%, rgba(255, 248, 245, 1))); */
  /* safari4+,chrome */
  /* background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 248, 245, 1) 50%, rgba(255, 248, 245, 1) 100%); */
  /* safari5.1+,chrome10+ */
  /* background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 248, 245, 1) 50%, rgba(255, 248, 245, 1) 100%); */
  /* opera 11.10+ */
  /* /background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 248, 245, 1) 50%, rgba(255, 248, 245, 1) 100%); */
  /* ie10+ */
  /*background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 248, 245, 1) 50%, rgba(255, 248, 245, 1) 100%);*/
  /* w3c */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8f5', endColorstr='#FFFFFF', GradientType=1); */
  /* ie6-9 */
  font-family: sans-serif;
  height: 100%;
  font-size: 14px;
  min-height: max-content;
}

* {
  box-sizing: border-box;
}

.wrapper-signup {
  max-width: 464px;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding: 0 16px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.login-image {
  position: relative;
}
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  min-width: 20em;
  max-width: 70%;
  color: #f00;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
}
.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}

.fpassword {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: gray;
  text-decoration: none;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  box-shadow: 0 1px gray;
  background: white;
}

.textbox input {
  width: 80%;
  border: none;
  outline: none;
  padding: 4px 4px;
  font-size: 20px;
  margin: 0 8px;
}

.textbox i {
  border-right: 1px solid gray;
  width: 40px;
  height: 26px;
  color: gray;
  padding: 0 8px;
  text-align: center;
}

.container a {
  margin: 0 5px;
}

.errorBlock{
  width: 100%;
  height: 50px;
  overflow: hidden;
  color: #ff3336;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  top: 31px;
  user-select: none;
  text-align: left;
  /* display: block; */
  margin-bottom: 12px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  display: none;
}

.checkmark {
  margin-right: 8px;
  border: 1px solid gray;
  height: 25px;
  width: 25px;
  background-color: white;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container input:checked~.checkmark {
  background-color: #eb5e2d;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit {
  position: relative;
  margin: 70px;
}

.submit button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: #eb5e2d;
  font-size: 16px;
  color: white;
}

button:hover {
  cursor: pointer
}

button i {
  font-size: 32px;
  /* font-weight: lighter; */
  /* position: relative; */
  /* left: 15%; */
  /* font-weight: 400; */
  position: absolute;
  margin: -7px 30px;
}

.da {
  position: relative;
  left: 5px;
}

.da .signup {
  /* color: #eb5e2d; */
  text-decoration: none;
  /* margin: 0 30px; */
  /* font-weight: 700; */
}

@media only screen and (max-width:768px) {
  .wrapper-signup {
    padding: 24px 16px;
  }
  .container {
    font-size: 12px;
  }
}